<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head data-th-replace="~{common :: head}">
<body>
<div class="container">
    <h1>Index</h1>
    <ul>
        <li><a href="#" data-th-href="@{/jwtgenerator}">JWT Generator</a></li>
        <li><a href="#" data-th-href="@{/private/user}">User</a></li>
        <li><a href="#" data-th-href="@{/private/admin}">Admin</a></li>
        <li><a href="#" data-th-href="@{/divcalculator}">Division calculator</a></li>
    </ul>
</div>
<div data-th-replace="~{common :: defer}"></div>
</body>
</html>